In [8]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv(r"C:\Users\Manish Joil\OneDrive\Desktop\car data.csv")

In [10]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [11]:
df.shape

(301, 9)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [13]:
df.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [14]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [16]:
X = df[['Year', 'Present_Price', 'Driven_kms', 'Fuel_Type', 'Selling_type', 'Transmission', 'Owner']]
y = df['Selling_Price']

In [17]:
# Convert categorical variables to numerical using Label Encoding
label_encoder = LabelEncoder()
X['Fuel_Type'] = label_encoder.fit_transform(X['Fuel_Type'])
X['Selling_type'] = label_encoder.fit_transform(X['Selling_type'])
X['Transmission'] = label_encoder.fit_transform(X['Transmission'])

C:\Users\Manish Joil\AppData\Local\Temp\ipykernel_1656\783506959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Fuel_Type'] = label_encoder.fit_transform(X['Fuel_Type'])
C:\Users\Manish Joil\AppData\Local\Temp\ipykernel_1656\783506959.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Selling_type'] = label_encoder.fit_transform(X['Selling_type'])
C:\Users\Manish Joil\AppData\Local\Temp\ipykernel_1656\783506959.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Transmission'] = label_encoder.fit_transform(X['Transmission'])

In [18]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
# Model training
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

RandomForestRegressor(random_state=42)

In [21]:
# Model evaluation
train_predictions = model.predict(X_train_scaled)
train_rmse = mean_squared_error(y_train, train_predictions, squared=False)
print("Train RMSE:", train_rmse)

Train RMSE: 0.6544133402012321

In [22]:
test_predictions = model.predict(X_test_scaled)
test_rmse = mean_squared_error(y_test, test_predictions, squared=False)
print("Test RMSE:", test_rmse)

Test RMSE: 0.9312403329457533

In [23]:
# Example prediction
example_data = pd.DataFrame({
    'Year': [2018],
    'Present_Price': [10.0],
    'Driven_kms': [50000],
    'Fuel_Type': ['Petrol'],
    'Selling_type': ['Dealer'],
    'Transmission': ['Manual'],
    'Owner': [0]
})

In [24]:
# prompt: predict the price

example_data['Fuel_Type'] = label_encoder.fit_transform(example_data['Fuel_Type'])
example_data['Selling_type'] = label_encoder.fit_transform(example_data['Selling_type'])
example_data['Transmission'] = label_encoder.fit_transform(example_data['Transmission'])
example_data_scaled = scaler.transform(example_data)
predicted_price = model.predict(example_data_scaled)
print("Predicted price:", predicted_price[0])

Predicted price: 7.734500000000008